<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project._004.Models.Properties.Settings.QLKDONGLUCConnectionString"
            connectionString="Data Source=203.162.246.102;Initial Catalog=QLKDONGLUC;User ID=sa;Password=12345a@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>